@font-face {
    font-family: 'Raleway';
    src: url('fonts/Raleway-Bold.eot');
    src: url('fonts/Raleway-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/Raleway-Bold.woff2') format('woff2'),
        url('fonts/Raleway-Bold.woff') format('woff'),
        url('fonts/Raleway-Bold.ttf') format('truetype'),
        url('fonts/Raleway-Bold.svg#Raleway-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('fonts/Raleway-Regular.eot');
    src: url('fonts/Raleway-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/Raleway-Regular.woff2') format('woff2'),
        url('fonts/Raleway-Regular.woff') format('woff'),
        url('fonts/Raleway-Regular.ttf') format('truetype'),
        url('fonts/Raleway-Regular.svg#Raleway-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* GENERALES */

html {
    background-color: #FFFFFF;
    font-family: 'Raleway', sans-serif;
    padding: 0;
    margin: 0 3.5%;
    height: 100%;
}

body {
    max-width: 1440px;
    margin: 0;
}

strong {
    font-weight: bold;
}

ul {
    list-style-type: none;
    margin-left: 0px;
    padding-left: 0px;
}

a {
    text-decoration: none;
    color: #000000;
}

.fas {
    color:#0065FC;
    padding: 5px 5px;
    border-radius: 100%;
}

#populaires .fas {
    color:#000000;
    padding-right: 0px;
    font-size: 1.2em;
}

.star .fas, .bluestar {
    color:#0065FC;
    padding: 0px;
    margin: 0px;
}

.greystar {
    color: #F2F2F2;
}

.star {
    display: inline-flex;
}

/* GENERALES */

/* HEADER */

header {
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: space-between;
}

#logo {
    padding-top: 40px;
}

#ancres {
    margin: 20px 0;
    padding: 30px 0 0 0;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

#ancreInscription a {
    color: #0065FC;
    font-weight: bold;
}

#ancreHebergement a {
    border-top: solid 2px #0065FC;
    padding-top: 48px;
    color: #0065FC;

}

/* HEADER */

/* BOUTON DE RECHERCHE */

#searchsection h1 {
    font-weight: 700;
    margin-bottom: 0;
}

#map {
    background-color: #F2F2F2;
    padding: 17px 16px 15px 16px;
    border-top-left-radius: 20px 20px;
    border-bottom-left-radius: 20px 20px;
    margin: 0 -5px;
}

#map i {
    color: #000000;
}

input {
    width: 234px;
    height: 47px;
    margin: 0px;
    padding: 0 0 0 15px;
    border-color: #F2F2F2;
    border-style: solid;
    border-right:none;
    font-weight: bold;
    font-size: 100%;
}

::placeholder { 
    color: #000000;  /* Chrome, Firefox, Opera, Safari 10.1+ */
    opacity: 1; /* Firefox */
}

form button {
    background-color: #0065FC;
    color: #FFFFFF;
    width: 134px;
    height: 51px;
    border-top-right-radius: 20px 20px;
    border-bottom-right-radius: 20px 20px;
    border:none;
    margin-bottom:30px;
    padding: 4px 8px 1px 8px;
}

form button .fas {
    display: none;
}

#buttonTXT {
    font-weight: bold;
    font-size: 1.1em;
}

/* BOUTON DE RECHERCHE */

/* FILTRES */

#filtres {
    display: flex;
    flex-direction: row;
}

.filtreButton {
    display: flex;
    flex-direction: row;
    justify-content: center ;
}

.filtreButton span {
    display: flex;
    align-items: center;
    border: 2px solid #d9d9d9;
    background-color: #FFFFFF;
    border-top-right-radius: 30px 30px;
    border-bottom-right-radius: 30px 30px;    
    font-weight: bold;
    border-left:none;
    margin: 0 20px 0 -20px;
    padding: 0px 20px 0 25px;
}

#filtres p {
    margin:16px 30px 16px 5px;
    font-weight: bold;
}

.fa-money-bill-wave {
    padding: 17px 15px 17px 15px;
}

.fa-child {
    padding: 17px 19px 17px 19px;
}

.fa-heart {
    padding: 17px;
}

.fa-dog {
    padding: 17px 16px 17px 16px;
}

#filtres .fas {
    border-radius: 50%;
    background-color: #deebff;
    margin-right: 0px;
    position: relative;

}

.button:hover  {
    color:white;
    background-color: #0065FC;
    border-color: #0065fd;
    transition: all 0.5s 0s;
}

/* FILTRES */

/*INFOS ICONE*/

#info {
    margin: 30px 0px 30px 5px;
    display: inline-block;
}

#info .fas {
    border: 1px solid #dedede;
    padding: 4px 7px 4px 7px;
}

#info i {
    position: absolute;
    margin-top: 15px;
}

#info p {
    margin-left: 25px;
}

/*INFOS ICONE*/

/* HEBERGEMENTS */

#premierBlock {
    display: flex;
    width: 100%;
    margin: 0 0 40px 0;
}

#hebergements span {
    padding: 20px 0 40px 30px;
    font-weight: bold;
}

#hebergements {
    display: flex;
    flex-wrap: wrap;
    align-items:stretch;
    border-radius:20px;
    background-color: #F2F2F2;
    margin-right: 3%;
    width: 65%;
    height: 626px;
}

#hebergements h2 {
    padding-left: 30px;
    margin: 40px 0 0 0;
}

#blockCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.hebCard {
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
    background-color: #FFFFFF;
    margin: 10px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 5px #F2F2F2;
}

.hebCard:hover {
    cursor: pointer;
    transform: scale(1.05);
}

#hebergements img {
    height: 115px;
    object-fit: cover;
    border-radius: 15px 15px 0px 0px;
}

.hebergementsTxt {
    padding: 5px 0 0 10px;
}

#hebergements p, ul {
    width: 100%;
    padding: 5px 0px;
    margin: 0px;
}

.hebergementsTxt :first-child, .hotel_details :nth-child(1) {
    font-weight: 700 ;
}

/* HEBERGEMENTS */

/* LES PLUS POPULAIRES */

#populaires {
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2 ;
    border-radius: 20px;
    margin-right: 0px;
    width: 32%;
    height: 626px;
}

#titreLPP {
    display: flex;
    justify-content: space-between;
    padding: 10px 40px 0px 30px;
    align-items: center;
}

#titreLPP h2 {
    margin: 30px 0 20px 0;
}

#blockcardslpp {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.cardLPP:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.cardLPP {
    height: 140px;
    display: flex;
    width: 370px;
    padding: 5px;
    background-color: #FFFFFF;
    margin: 10px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 5px #F2F2F2;
}

.cardLPP img {
    width: 140px;
    object-fit: cover;
    border-radius: 15px 0px 0px 15px;
}

.cubeDetails {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    justify-content: center;
    width: 180px;
}

.hotelName {
    margin: 15px 0 10px 0;
}

.prix {
    margin: 0 0 30px 0;
}

.cardLPP li {
    padding-bottom: 15px;
}

/* LES PLUS POPULAIRES */

/*ACTIVITES A MARSEILLE*/

#activites {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

#activitesTitre {
    margin: 20px 0 10px 0;
}

#activites h2 {
    margin: 0;
}

#activitesCards {
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: space-between;
}

.activiteSelection:hover {
    cursor: pointer;
    transform: scale(1.05);
}

#activites p {
    padding: 15px 0px 15px 10px;
    margin: 0px;
    font-weight: bolder;
}

.activiteSelection {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 10px 5px #F2F2F2;
    margin: 21.5px 0px;
    padding: 0px;
    border-radius: 15px;
}

#vieuxport img, #calanques img {
    height: 430px;
}

#fortdepomegues img {
    height: 220px;
}

#notredame img, #parclongchamp img {
    height: 170px;
}

#ilesdufrioul img {
    height: 120px;
}

.activitesDuo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#activites img {
    object-fit: cover;
    border-radius: 15px 15px 0px 0px;
    width: 300px;
}

/*ACTIVITES A MARSEILLE*/

/*FOOTER*/

footer {
    background-color: #F2F2F2 ;
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: space-around;
    position: absolute;
    left: 0;
    right: 0;
    padding-bottom: 20px;
}

footer li {
    padding: 5px 0px 5px 0px;
}

.containerfooter {
    padding-top: 30px;
    margin-left: -180px;
}

/*FOOTER*/

/*RESPONSIVE*/

@media all and (min-width:1440px){

    body {
        margin-left: auto;
        margin-right: auto;
    }

    footer {
        justify-content: center;
    }

    .containerfooter {
        margin: 0 160px;
    }

    footer ul {
        width: 230px;
    }

}

@media (min-width:1200px) and (max-width:1439px) {

    .hebCard {
        width: 210px;
        flex-direction: column;
        justify-content: center;
    
    }

    .hebergementsTxt {
        padding: 5px 3px 0 3px;
    }

    .cardLPP {
        height: 140px;
        width: 310px;
    }

    #activites img {
        width: 100%;
        max-width: 320px;
        min-width: 240px;
    }

    .activiteSelection {
        margin: 21.5px 10px;
    }

}

@media (min-width:992px) and (max-width:1199px) {

    #ancres {
        margin: 0;
    }

    #ancreHebergement a {
        padding-top: 28px;
    }
    
    .ancre_hover a:hover {
        border-top: solid 2px #0065FC;
        padding-top: 25px;
    }
    
    #hebergements h2 {
        padding: 0 0 10px 30px;
    }

    #hebergements
    {
        height: 860px;
    }

    #titreLPP {
        padding: 10px 20px 0px 20px;
    }

    .cardLPP {
        height: 170px;
        flex-direction: row;
        width: 250px;
    }

    .cardLPP img {
        width: 120px;
    }

    .prix {
        margin: 0 0 5px 0;
    }

    .cardLPP li {
        padding-bottom: 5px;
    }

    #populaires {
        height: 860px;
    }

    .activiteSelection {
        margin: 15px;
    }

    #activites img {
        min-width: 205px;
        max-width: 250px;
        width: 100%;
    }

    .containerfooter  {
        margin-left: 0px;
    }

}

@media (min-width:768px) and (max-width:991px) {

    .filtreButton {
        pointer-events: none;
    }

    #logo {
        padding-top: 30px;
    }

    #ancres
    {
        margin: 0;
        width: 50%;
    }

    #ancreHebergement a {
        padding-top: 28px;
    }

    #searchsection h1
    {
        margin-top: 40px;
        text-align: center;
    }

    #searchsection :nth-child(2) {
        text-align: center;
    }

    #map i {
        padding: 0 5px 5px 5px;
    }

    #map {
        margin-bottom: 27px
    }

    input {
        height: 50px;
    }

    #searchsection form {
        display: flex;
        justify-content: center;
    } 

    #filtres p {
        width: 100%;
        text-align: center;
        margin: 30px;
    }
   
    #filtres {
        flex-wrap: wrap;
        justify-content: center;
    }

    #filtres span {
        margin-right: 7px;
        padding-right: 12px
    }

    #premierBlock {
        flex-direction: column-reverse;
    }

    #populaires {
        width: 100%;
        height: 100%;
        margin-bottom: 20px;
        padding-bottom: 20px;
    }

    #titreLPP {
        padding: 10px 20px 10px 20px;
    }

    #populaires h2 {
        text-align: center;
        width: 100%;
    }

    .cardLPP {
        width:400px;
        height: 200px;
    }

    .cardLPP img {
        width: 200px;
    }

    #hebergements {
        width: 100%;
        height: 100%;
    }

    #blockCards {
        justify-content: space-evenly;
    }

    #hebergements h2
    {
        text-align: center;
        width: 100%;
        padding-bottom: 20px;
    }

    .hebCard {
        margin: 10px 20px;
        width: 300px;
    }

    #hebergements img {
        height: 150px;
    }

    #activites h2 {
        text-align: center;
    }

    #activitesCards {
        flex-direction: column;
        height: 100%; 
    }

    #activites img {
        width: 100%;
        height: 200px;
    }

    .activitesDuo {
        flex-direction: row;
    }

    .activiteSelection {
        margin: 20px;
    }

    #fortdepomegues, #ilesdufrioul, #notredame, #parclongchamp {
        width: 45%;
    }

    footer {
        flex-direction: column;
    }

    .containerfooter {
        margin-left: 0;
    }

    footer h3, ul {
        text-align: center;
    }
}

@media (min-width:576px) and (max-width:767px) {

    html {
        margin: 0;
    }

    #ancreHebergement a {
        padding-top: 28px;
    }

    .filtreButton {
        pointer-events: none;
    }

    header {
        justify-content: flex-end;
        margin: 0 0 40px 0;
    }

    #logo {
        position: absolute;
        left: 0;
        padding: 3% 3% 5% 3.5%;
    }

    #ancres {
        flex-wrap: wrap;
        margin: 0px;
    }

    #searchsection {
        margin: 3.5%;
    }

    #filtres {
        flex-wrap: wrap;
    }

    #filtres p {
        width: 100%;
    }

    .filtreButton {
        margin: 10px 0;
    }

    form button {
        width: 80px;
    }

    #buttonTXT {
        display: none;
    }

    form button .fas {
        display: initial;
        color: #FFFFFF;
    }

    #premierBlock {
        flex-direction: column-reverse;
    }

    #populaires {
        width: 100%;
        border-radius: initial;
    }

    #populaires a, .cardLPP {
        width: 95%;
    }

    #populaires img
    {
        width: 40%;
    }

    #hebergements {
        background-color: #FFFFFF;
        width: 100%;
        height: 100%;
    }

    #hebergements h2 {
        padding-bottom: 10px;
    }

    #blockCards {
        width: 100%;
        justify-content: space-evenly;
    }

    #activites h2 {
        padding-left: 30px;
    }

    #activitesCards {
        flex-direction: column;
        height: 100%;
    }

    .activiteSelection {
        margin: 21.5px;
    }


    #activites img {
        width: 100%;
        height: 10em;
    }

    footer {
        flex-direction: column;
    }

    .containerfooter{
        padding-left: 40px;
        margin-left: 0px;
    }
}

@media (max-width:575px) {

    html {
        margin: 15px 0 0 0;
    }

    .filtreButton {
        pointer-events: none;
    }

    #logo {
        padding: 15px 0 0 25px;
        position: absolute;
    }

    #ancres {
        flex-wrap: wrap;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    #ancreHebergement {
        order: 2;
        width: 50%;
        display: flex;
        justify-content: center;
        border-bottom: solid 3px #0065FC;
        padding: 45px 0 15px 0;
    }

    #ancreHebergement a {
        border-top: 0;
        padding: 0;
    }

    #ancreActivites {
        order: 3;
        width: 50%;
        display: flex;
        justify-content: center;
        border-bottom: solid 3px #F2F2F2;
        padding: 45px 0 15px 0;
    }

    #ancreInscription {
        order: 1;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        padding: 30px 20px 0px 0px;
    }

    #searchsection {
        margin: 0px 4% 0px 4%;
    }

    #searchsection h1 {
        margin-top: 30px
    }

    #map i {
        padding: 0 5px 5px 5px;
    }

    #filtres {
        display: flex;
        flex-wrap: wrap;
        margin:0;
    }

    #filtres p {
        width: 100%;
    }

    #filtres span {
        margin-right: 10px;
    }

    .filtreButton {
        margin: 10px 0;
    }

    form {
       display: flex;
       justify-content: center;
       margin: 30px 0;
    }

    #map {
        padding: 17px 16px 12px 16px;
    }

    form button {
        width: 55px;
        border-radius: 20px 20px;
        margin: 0 0 0 -10px;
    }

    #buttonTXT {
        display: none;
    }

    form button .fas {
        display: initial;
        color: #FFFFFF;
    }

    #premierBlock {
        flex-direction: column-reverse;
    }

    #populaires {
        width: 100%;
        height: 100%;
        border-radius: initial;
        padding-bottom: 40px;
    }

    #populaires a, .cardLPP {
        width: 95%;
        margin: 5px 0px 0px 2px;
    }

    #titreLPP {
        padding: 10px 40px 0 30px;
    }   

    #blockcardslpp {
        margin: 0px 10px;
    }

    #populaires img {
        width: 40%;
    }

    #hebergements {
        background-color: #FFFFFF;
        width: 100%;
        height: 100%;
    }

    #hebergements h2 {
        padding: 0 0 10px 20px;
    }

    .hebContainer {
        width: 100%;
    }

    .hebCard {
        width: 87%;
        margin: 10px 20px;
    }

    #blockCards {
        width: 100%;
        justify-content: space-evenly;
    }

    #activites h2 {
        padding-left: 30px;
    }

    #activitesCards {
        flex-direction: column;
        height: 100%;
        margin: 0;
    }

    .activiteSelection {
        margin: 21.5px;
    }

    #activites img {
        width: 100%;
        height: 10em;
    }

    footer {
        flex-direction: column;
    }

    .containerfooter {
        padding-left: 30px;
        margin-left: 0px;
    }

}
