@font-face {
    font-family: 'Raleway';
    src: url('fonts/Raleway-Bold.eot');
    src: url('fonts/Raleway-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/Raleway-Bold.woff2') format('woff2'),
        url('fonts/Raleway-Bold.woff') format('woff'),
        url('fonts/Raleway-Bold.ttf') format('truetype'),
        url('fonts/Raleway-Bold.svg#Raleway-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('fonts/Raleway-Regular.eot');
    src: url('fonts/Raleway-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/Raleway-Regular.woff2') format('woff2'),
        url('fonts/Raleway-Regular.woff') format('woff'),
        url('fonts/Raleway-Regular.ttf') format('truetype'),
        url('fonts/Raleway-Regular.svg#Raleway-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/*General*/
html {
    background-color: #ffffff;
    font-family: 'Raleway', sans-serif;
    padding: 0;
    margin: 0 3.5%;
    height: 100%;
}

body {
    margin: 0;
    max-width: 1440px;    
}

a {
    text-decoration: none;
    color: #000000; 
}

.texteGras {
    font-weight: bold;
}

.main {
    margin: 10px 10px;
    padding: 20px 20px;
}

h1 {
    font-size: 20px;
}

h2{
    font-size: 16px;
}

.borderNone{
    border: none;
}

.colorBlue {
  color: #0065fc;  
}
.colorBlueClear {
    color: #deebff;  
}

.colorGrey {
  color: #f2f2f2;  
}

.backGrey {
    background: #F2F2F2;
}

.flexcentre {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexAround {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.flexBetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flexColumncenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.flexColumnAround {
    display: flex;
    flex-direction: column;
    justify-content: space-around;   
}

.flexColumnBetwenn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;   
}
/*General*/

/*Header*/
.sizeNav {
    height: 100%;
}

.sizeLiens {
    width: 100%;
}

.flexaround {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 45%;
}

.sizeLien {
    width: 140px;
    height: 99px;    
}

.sizeLien12 {
    margin-left: 60%;
}

.bordernav {
    border-top: solid 1px transparent;
}

.bordernav:hover {
    border-top: 1px solid #0065fc;
    cursor: pointer;
}   

.bordernav:hover > a {
    color: #0065fc;
}

.colorlink {
    color: blue;
}

.register {
    color: #0065fc;
    font-weight: 700;
}
/*Header*/

/*Searchsection*/

.borduresearch {
    width: 400px;
    border-radius: 10px;
    border: 0.5px solid #F2F2F2 ;
    background: #f2f2f2;
}

.iconSize {
    height: 50px;
    width: 50px;
    border-radius: 10px 0 0 10px;
}

.recherche {
    height: 50px;
    width: 230px;
    font-size: 18px;
    color: black;
    font-weight: bold;    
}

.paddingSearch {
    padding-left: 20px;
}

.buttonSearch {
   height: 50px;
   width: 120px;
   color: white;
   cursor: pointer;
   border-radius: 0 10px 10px 0; 
}

.backblue {
    background-color: #0065fc;
    border: none;
    
}

/*Searchsection*/

/*Filtres*/
.margFiltre {
    margin-top: 50px;
    margin-bottom: 40px;
}

.filtre {
    display: flex;
    align-items: center;    
}

.margFiltreTitre {
    margin-right: 20px; 
}

.filtreIcons {
    margin-left: -2px;
    border-radius: 25px;
    width: 52px;
    height: 52px;
    color: #0065fc;
    background-color: #deebff;
}

.filtreTexteIcons {
    margin-left: 2px;
    border: 2px solid #F2F2F2;
    height: 50px;
    border-radius: 30px;
    margin-right: 20px;
}

.flexBetween {
    display: flex;
    justify-content: space-between;
    align-items: center;    
}

.filtreTexteIcons:hover > .filtreTexte {
    color: #0065fc;
}

.filtreTexteIcons:hover > .filtreIcons {
    color: white;
    background-color: #0065fc;
}

.filtreTexte {
    height: 50px;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 0 25px 25px 0;
}
/*Filtres*/

/*Infos Icone*/
.infos {
    display: flex;
    align-items: center;
}

.infobubble {
    width: 20px;
    height: 20px;
    border: 2px solid #F2F2F2;
    border-radius: 25px;
    margin-right: 5px;
}

/*Infos Icone*/

/*HEBERGEMENTS*/
.sizeHebergements {
    flex: 2;
    height: 650px;
    margin-right: 20px;
    border-radius: 10px;
}

.blockHebergements {
    padding-left: 20px;
    padding-right: 20px;
}

.block1 {
    margin-bottom: 10px;
}

.block2 {
    margin-top: 10px;
}

.cubeHebergements {
    width: 30%;
    height: auto;
    background-color: white;
    padding: 1%;
    border-radius: 20px;
}

.cubeHebergements:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.cubeDetailsHebergements {
    width: 90%;
}
.imghebergements1 {
    background-image: url("./hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 120px;
    border-radius: 15px 15px 0 0;
}

.imghebergements2 {
    background-image: url("./hebergements/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 120px;
    border-radius: 15px 15px 0 0;
}

.imghebergements3 {
    background-image: url("./hebergements/4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 120px;
    border-radius: 15px 15px 0 0;
}

.imghebergements4 {
    background-image: url("./hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 120px;
    border-radius: 15px 15px 0 0;
}

.imghebergements5 {
    background-image: url("./hebergements/4_small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 120px;
    border-radius: 15px 15px 0 0;
}

.imghebergements6 {
    background-image: url("./hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 120px;
    border-radius: 15px 15px 0 0;
}

/*HEBERGEMENTS*/

/*POPULAIRES*/

.sizePopulaires {
    flex: 1;
    height: 650px;
    margin-left: 20px;
    border-radius: 10px;
}

.blockPopulaires {
    padding-left: 20px;
    padding-right: 20px;
}

.blockPopulaires12 {
    margin-bottom: 22px;
}

.cubePopulaires {
    background-color: white;
    height: 160px;
    padding: 1% 0 1% 1%;
    border-radius:  20px;
}

.cubePopulaires:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.cubeDetailsPopulaires {
    height: auto;
    width: 90%;
    padding-left: 5%;
}

.imgPopulaires1 {
    background-image: url("./hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 35%;
    height: 160px;
    border-radius: 15px 0 0 15px;
}

.imgPopulaires2 {
    background-image: url("./hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 35%;
    height: 160px;
    border-radius: 15px 0 0 15px;
}

.imgPopulaires3 {
    background-image: url("./hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 35%;
    height: 160px;
    border-radius: 15px 0 0 15px;
}

/*POPULAIRES*/

/*Footer*/
.footer {
    background-color: #F2F2F2 ;
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: space-around;
    position: absolute;
    left: 0;
    right: 0;
    padding-bottom: 20px;
}

ul {
    list-style: none;
    margin-left: 0px;
    padding-left: 0px;
}

.footer li {
    padding: 5px 0px 5px 0px;
}

.containerfooter {
    padding-top: 30px;
    margin-left: -180px;
}
/*Footer*/